
<h2>Index</h2>

<script>
    var scheme = document.location.protocol == "https:" ? "wss" : "ws";
    var port = document.location.port ? (":" + document.location.port) : "";
    var socketUrl = scheme + "://" + document.location.hostname + port;
    var socket = new WebSocket(socketUrl);
    socket.onopen = function (event) {
        console.log('onopen', event);
    };
    socket.onclose = function (event) {
        console.log('onclose', event);
    };
    socket.onerror = function(event) {
        console.log('onerror', event);
    };
    socket.onmessage = function (event) {
        var message = JSON.parse(event.data);
        message.payload['$type'] = '';
        console.log(message.type, message.payload);
    };
</script>