<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="BF2WebAdmin">

    <Appenders>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm} %-5p %-20C{1} %m%n</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="RollingFile" fileName="log/BF2WebAdmin.log" filePattern="log/BF2WebAdmin-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %C{1}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="25 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>